In [5]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
import statsmodels.api as sm
import seaborn as sns
from sklearn.metrics import accuracy_score 
import datetime
from time import sleep
from random import randint
import nltk
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tag import pos_tag
from nltk.tokenize import WordPunctTokenizer
from sklearn.preprocessing import LabelEncoder
from sklearn.cross_validation import train_test_split,cross_val_score
from sklearn.linear_model import LinearRegression
from time import sleep
import sys
import got3 as got
from datetime import *; from dateutil.relativedelta import *
import calendar
import re

/Users/alnick06/anaconda3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools
/Users/alnick06/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

## What Companies are Saying

In [23]:
favs=[]
retweets=[]
date=[]
mentions=[]
text=[]
now = datetime.now()
today=datetime.today().strftime('%Y-%m-%d')
yearsback=1
oneyearsago=((datetime.now()- relativedelta(years=yearsback)).strftime('%Y-%m-%d'))

tweetCriteria = got.manager.TweetCriteria().setUsername('CanonUsa').setSince(oneyearsago).setUntil(today).setMaxTweets(0)
tweet=got.manager.TweetManager.getTweets(tweetCriteria)
for x in tweet:
    text.append(x.text)
    retweets.append(x.retweets)
    date.append(x.date)
    favs.append(x.favorites)

canondf=pd.DataFrame({'Canon Time Stamp':date, 'Canon Tweets':text,'Canon Retweets':retweets,'Canon Favorites':favs,'Canon Mentions':mentions})
saver=canondf.to_csv('Canon.csv')

In [56]:
favs=[]
retweets=[]
date=[]
mentions=[]
text=[]
now = datetime.now()
today=datetime.today().strftime('%Y-%m-%d')
yearsback=1
oneyearsago=((datetime.now()- relativedelta(years=yearsback)).strftime('%Y-%m-%d'))


tweetCriteria = got.manager.TweetCriteria().setUsername('Sony').setSince(oneyearsago).setSince(oneyearsago).setUntil(today).setUntil(today).setMaxTweets(0)
tweet=got.manager.TweetManager.getTweets(tweetCriteria)
for y in tweet:
    text.append(y.text)
    retweets.append(y.retweets)
    date.append(y.date)
    favs.append(y.favorites)

sonydf=pd.DataFrame({'Sony Time Stamp':date, 'Sony Tweets':text,'Sony Retweets':retweets,'Sony Favorites':favs})
saver=sonydf.to_csv('Sony.csv')

In [32]:
favs=[]
retweets=[]
date=[]
mentions=[]
text=[]
now = datetime.now()
today=datetime.today().strftime('%Y-%m-%d')
yearsback=1
oneyearsago=((datetime.now()- relativedelta(years=yearsback)).strftime('%Y-%m-%d'))

tweetCriteria = got.manager.TweetCriteria().setUsername('HP').setSince(oneyearsago).setSince(oneyearsago).setUntil(today).setUntil(today).setMaxTweets(0)
tweet=got.manager.TweetManager.getTweets(tweetCriteria)
for z in tweet:
    text.append(z.text)
    retweets.append(z.retweets)
    date.append(z.date)
    favs.append(z.favorites)
hpdf=pd.DataFrame({'HP Time Stamp':date, 'HP Tweets':text,'HP Retweets':retweets,'HP Favorites':favs})
saver=hpdf.to_csv('HP.csv')

In [33]:
favs=[]
retweets=[]
date=[]
mentions=[]
text=[]
now = datetime.now()
today=datetime.today().strftime('%Y-%m-%d')
yearsback=1
oneyearsago=((datetime.now()- relativedelta(years=yearsback)).strftime('%Y-%m-%d'))

tweetCriteria = got.manager.TweetCriteria().setUsername('NikonUSA').setSince(oneyearsago).setSince(oneyearsago).setUntil(today).setUntil(today).setMaxTweets(0)
tweet=got.manager.TweetManager.getTweets(tweetCriteria)
for a in tweet:
    text.append(a.text)
    retweets.append(a.retweets)
    date.append(a.date)
    favs.append(a.favorites)

nikondf=pd.DataFrame({'Nikon Time Stamp':date, 'Nikon Tweets':text,'Nikon Retweets':retweets,'Nikon Favorites':favs})
saver=nikondf.to_csv('Nikon.csv')

In [37]:
favs=[]
retweets=[]
date=[]
mentions=[]
text=[]
now = datetime.now()
today=datetime.today().strftime('%Y-%m-%d')
yearsback=1
oneyearsago=((datetime.now()- relativedelta(years=yearsback)).strftime('%Y-%m-%d'))

tweetCriteria = got.manager.TweetCriteria().setUsername('SamsungUS').setMaxTweets(0)
tweet=got.manager.TweetManager.getTweets(tweetCriteria)
for b in tweet:
    text.append(b.text)
    retweets.append(b.retweets)
    date.append(b.date)
    favs.append(b.favorites)

samsungdf=pd.DataFrame({'Samsung Time Stamp':date, 'Samsung  Tweets':text,'Samsung  Retweets':retweets,'Samsung Favorites':favs})
saver=samsungdf.to_csv('Samsung.csv')

## WHAT CUSTOMERS ARE SAYING

In [38]:
from datetime import datetime
favs=[]
retweets=[]
date=[]
mentions=[]
text=[]
now = datetime.now()
today=datetime.today().strftime('%Y-%m-%d')
yearsback=1
oneyearsago=((datetime.now()- relativedelta(years=yearsback)).strftime('%Y-%m-%d'))


tweetCriteria = got.manager.TweetCriteria().setQuerySearch('@CanonUsa').setSince(oneyearsago).setUntil(today).setMaxTweets(0)
tweet = got.manager.TweetManager.getTweets(tweetCriteria)
for c in tweet:
    text.append(c.text)
    retweets.append(c.retweets)
    date.append(c.date)
    favs.append(c.favorites)
    
cuscandf=pd.DataFrame({'Canon Time Stamp':date, 'Canon Tweets':text,'Canon Retweets':retweets,'Canon Favorites':favs})
saver=cuscandf.to_csv('Canoncust.csv')

In [40]:
from datetime import datetime
favs=[]
retweets=[]
date=[]
mentions=[]
text=[]
now = datetime.now()
today=datetime.today().strftime('%Y-%m-%d')
yearsback=1
oneyearsago=((datetime.now()- relativedelta(years=yearsback)).strftime('%Y-%m-%d'))


tweetCriteria = got.manager.TweetCriteria().setQuerySearch('@Sony').setSince(oneyearsago).setUntil(today).setMaxTweets(0)
tweet = got.manager.TweetManager.getTweets(tweetCriteria)
for d in tweet:
    text.append(d.text)
    retweets.append(d.retweets)
    date.append(d.date)
    favs.append(d.favorites)
    
cussonydf=pd.DataFrame({'Sony Time Stamp':date, 'Sony Tweets':text,'Sony Retweets':retweets,'Sony Favorites':favs})
saver=cussonydf.to_csv('Sonycust.csv')

In [41]:
from datetime import datetime
favs=[]
retweets=[]
date=[]
mentions=[]
text=[]
now = datetime.now()
today=datetime.today().strftime('%Y-%m-%d')
yearsback=1
oneyearsago=((datetime.now()- relativedelta(years=yearsback)).strftime('%Y-%m-%d'))


tweetCriteria = got.manager.TweetCriteria().setQuerySearch('@SamsungUS').setSince(oneyearsago).setUntil(today).setMaxTweets(0)
tweet = got.manager.TweetManager.getTweets(tweetCriteria)
for e in tweet:
    text.append(e.text)
    retweets.append(e.retweets)
    date.append(e.date)
    favs.append(e.favorites)
    
cussamdf=pd.DataFrame({'Samsung Time Stamp':date, 'Samsung Tweets':text,'Samsung Retweets':retweets,'Samsung Favorites':favs})
saver=cussamdf.to_csv('Samsungcust.csv')

In [44]:
from datetime import datetime
favs=[]
retweets=[]
date=[]
mentions=[]
text=[]
now = datetime.now()
today=datetime.today().strftime('%Y-%m-%d')
yearsback=1
oneyearsago=((datetime.now()- relativedelta(years=yearsback)).strftime('%Y-%m-%d'))


tweetCriteria = got.manager.TweetCriteria().setQuerySearch('@HP').setSince(oneyearsago).setUntil(today).setMaxTweets(0)
tweet = got.manager.TweetManager.getTweets(tweetCriteria)
for f in tweet:
    text.append(f.text)
    retweets.append(f.retweets)
    date.append(f.date)
    favs.append(f.favorites)

cushpdf=pd.DataFrame({'HP Time Stamp':date, 'HP Tweets':text,'HP Retweets':retweets,'HP Favorites':favs})
saver=cushpdf.to_csv('HPcust.csv')

In [45]:
from datetime import datetime
favs=[]
retweets=[]
date=[]
mentions=[]
text=[]
now = datetime.now()
today=datetime.today().strftime('%Y-%m-%d')
yearsback=1
oneyearsago=((datetime.now()- relativedelta(years=yearsback)).strftime('%Y-%m-%d'))


tweetCriteria = got.manager.TweetCriteria().setQuerySearch('@NikonUsa').setSince(oneyearsago).setUntil(today).setMaxTweets(0)
tweet = got.manager.TweetManager.getTweets(tweetCriteria)
for g in tweet:
    text.append(g.text)
    retweets.append(g.retweets)
    date.append(g.date)
    favs.append(g.favorites)

    
cusnikdf=pd.DataFrame({'Nikon Time Stamp':date, 'Nikon Tweets':text,'Nikon Retweets':retweets,'Nikon Favorites':favs})
saver=cusnikdf.to_csv('Nikoncust.csv')

In [6]:
candf=pd.read_csv('Canon.csv',index_col=0) 
sonydf=pd.read_csv('Sony.csv',index_col=0) 
hpdf=pd.read_csv('HP.csv',index_col=0)
nikdf=pd.read_csv('Nikon.csv',index_col=0)
samdf=pd.read_csv('Samsung.csv',index_col=0) 
custnik=pd.read_csv('Nikoncust.csv',index_col=0)
hpcustdf=pd.read_csv('HPcust.csv',index_col=0)
samcustdf=pd.read_csv('Samsungcust.csv',index_col=0) 
sonycustdf=pd.read_csv('Sonycust.csv',index_col=0) 
cancustdf=pd.read_csv('Canoncust.csv',index_col=0)

In [7]:
candf.dropna(inplace=True)
hpdf.dropna(inplace=True)
nikdf.dropna(inplace=True)
samdf.dropna(inplace=True)
custnik.dropna(inplace=True)
hpcustdf.dropna(inplace=True)
samcustdf.dropna(inplace=True)
sonycustdf.dropna(inplace=True)
cancustdf.dropna(inplace=True)
sonydf.dropna(inplace=True)

## Canon

### Canon Company

In [8]:
fixed1=[]
fixed3=[]
for x in candf['Canon Tweets']:
    fixed1.append(re.sub(r"http\S+", "", x))
for y in fixed1:
    fixed3.append(re.sub(r"pic.\S+", "", y))
candf['Canon Tweets']=fixed3

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
cvec = TfidfVectorizer(ngram_range=(1,1),max_features=150,stop_words='english')
cvec.fit(candf['Canon Tweets'])
canwords  = pd.DataFrame(cvec.transform(candf['Canon Tweets']).todense(),
             columns=cvec.get_feature_names())

canwords.transpose().sort_values(0, ascending=False).transpose().head()

,helping,canon,000,proud,proudsponsor,provided,purchasing,quality,received,safe,...,friend,friendsfriday,geographic,friendsofacadia,fun,fundraiser,funfactfriday,game,gear,youth
0,0.912749,0.408521,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
1,0.000000,0.492548,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
2,0.000000,0.000000,0.000000,0.220100,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.268671,0.0,0.253891,0.0,0.0,0.0,0.0,0.0,0.286328
3,0.000000,0.000000,0.314724,0.182308,0.0,0.0,0.0,0.0,0.0,0.331533,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000

In [10]:
canwords.transpose().sort_values(0, ascending=False).transpose().columns[0:50]

Index(['helping', 'canon', '000', 'proud', 'proudsponsor', 'provided',
       'purchasing', 'quality', 'received', 'safe', 'safety', 'save', 'share',
       'shot', 'sky', 'small', 'sound', 'specialolympics', 'species',
       'proudly', 'promo', 'sponsorship', 'online', 'missing', 'missingkids',
       'natgeoeducation', 'national', 'ncmec', 'night', 'parent', 'program',
       'park', 'partner', 'photo', 'photography', 'photos', 'products',
       'sponsor', 'stay', 'make', 'video', 'voted', 'walk', 'watch', 'water',
       'week', 'weekend', 'wildlife', 'winter', 'yankee'],
      dtype='object')

### Canon Customers

In [11]:
fixed=[]
fixed1=[]
for x in cancustdf['Canon Tweets']:
    fixed.append(re.sub(r"http\S+", "", x))
for y in fixed:
    fixed1.append(re.sub(r"pic.\S+", "", y))
cancustdf['Canon Tweets']=fixed1

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
cvec = TfidfVectorizer(ngram_range=(1,1),max_features=150,stop_words='english')
cvec.fit(cancustdf['Canon Tweets'])
cancustword  = pd.DataFrame(cvec.transform(cancustdf['Canon Tweets']).todense(),
             columns=cvec.get_feature_names())

cancustword.transpose().sort_values(0, ascending=False).transpose().head()

,shoot,canon,canonusa,10,photographed,nyc,old,park,people,photo,...,film,fun,guys,gear,getting,going,good,got,great,youtube
0,0.862602,0.442170,0.245771,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.000000,0.0
1,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.000000,0.0
2,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.567922,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.583996,0.0
3,0.000000,0.136742,0.076005,0.565088,0.0,0.0,0.0,0.0,0.0,0.216203,...,0.0,0.0,0.0,0.0,0.0,0.0,0.23641,0.0,0.000000,0.0
4,0.000000,0.280311,0.155805,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.000000,0.0

In [13]:
cancustword.transpose().sort_values(0, ascending=False).transpose().columns[0:50]

Index(['shoot', 'canon', 'canonusa', '10', 'photographed', 'nyc', 'old',
       'park', 'people', 'photo', 'photography', 'photographer', 'nikon',
       'photooftheday', 'photos', 'photoshop', 'portrait', 'print', 'nikonusa',
       'night', 'really', 'man', 'long', 'look', 'looking', 'looks', 'love',
       'm50', 'make', 'mark', 'nice', 'mirrorless', 'model', 'morning',
       'natgeo', 'nature', 'need', 'new', 'printer', 'right', 'rebel', 'll',
       'usawp', 'use', 'used', 'using', 've', 'video', 'wait', 'want'],
      dtype='object')

## Sony

### Sony Company

In [14]:
fixed=[]
fixed2=[]
for x in sonydf['Sony Tweets']:
    fixed.append(re.sub(r"http\S+", "", x))
for y in fixed:
    fixed2.append(re.sub(r"pic.\S+", "", y))
sonydf['Sony Tweets']=fixed2

In [15]:
sonydf.replace('', np.nan, inplace=True)
sonydf.dropna(inplace=True)

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
cvec = TfidfVectorizer(ngram_range=(1,1),max_features=150,stop_words='english')
cvec.fit(sonydf['Sony Tweets'])
sonywords  = pd.DataFrame(cvec.transform(sonydf['Sony Tweets']).todense(),
             columns=cvec.get_feature_names())

sonywords.transpose().sort_values(0, ascending=False).transpose().head()

,lostinmusic,10,sonyces,season,send,sessions,snapchat,sony,sonyatsxsw,sonysupportusa,...,great,happy,later,hi,hmm,home,inside,just,know,yes
0,1.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.611473,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
sonywords.transpose().sort_values(0, ascending=False).transpose().columns[0:50]

Index(['lostinmusic', '10', 'sonyces', 'season', 'send', 'sessions',
       'snapchat', 'sony', 'sonyatsxsw', 'sonysupportusa', 'rufus', 'soon',
       'spider', 'spidermanps4', 'spiderverse', 'spidey', 'stay', 'stream',
       'rules', 'right', 'sunday', 'perfect', 'nyc', 'october', 'ok',
       'outlander', 'party', 'people', 'performance', 'ready', 'play',
       'playstatione3', 'pm', 'pop', 'ps4', 'questions', 'street', 'sure',
       'night', 'tuned', 've', 'venom', 'video', 'wait', 'want', 'watch',
       'way', 'week', 'weekend', 'win'],
      dtype='object')

### Sony Customers

In [18]:
fixed1=[]
fixed3=[]
for x in sonycustdf['Sony Tweets']:
    fixed1.append(re.sub(r"http\S+", "", x))
for y in fixed1:
    fixed3.append(re.sub(r"pic.\S+", "", y))
sonycustdf['Sony Tweets']=fixed3

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
cvec = TfidfVectorizer(ngram_range=(1,1),max_features=150,stop_words='english')
cvec.fit(sonycustdf['Sony Tweets'])
sonycustwords  = pd.DataFrame(cvec.transform(sonycustdf['Sony Tweets']).todense(),
             columns=cvec.get_feature_names())

sonycustwords.transpose().sort_values(0, ascending=False).transpose().head()

,gonna,2019,microsoft,xbox,play,playstation,sony,shit,service,season3,...,got,guys,hope,happy,headphones,heliclockters,help,hey,home,yes
0,0.458775,0.436803,0.431706,0.402468,0.400402,0.268515,0.133997,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.165072,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.370025,0.000000,0.000000,0.000000,0.000000,0.113511,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.318536,0.158959,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.207798,0.0,0.715693,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
sonycustwords.transpose().sort_values(0, ascending=False).transpose().columns[0:50]

Index(['gonna', '2019', 'microsoft', 'xbox', 'play', 'playstation', 'sony',
       'shit', 'service', 'season3', 'que', 'say', 'savetimeless',
       'savetimeiess', 'saverufus', 'sakinajaff', 'said', 'right', 'release',
       'really', 'season', '10', 'ps4', 'nbc', 'marvel', 'mattlanter', 'maybe',
       'money', 'movie', 'music', 'need', 'sonycrackle', 'netflix', 'new',
       'nintendo', 'oh', 'people', 'pickuptimeless', 'sonyalpha',
       'sonyelectronics', 'malcolmbarrett', 'sonypictures', 'today', 'tv',
       'use', 've', 'video', 'wait', 'want', 'watch'],
      dtype='object')

## Nikon

### Nikon Company

In [21]:
nikdf.replace('', np.nan, inplace=True)
nikdf.dropna(inplace=True)

In [22]:
fixed1=[]
fixed3=[]
for x in nikdf['Nikon Tweets']:
    fixed1.append(re.sub(r"http\S+", "", x))
for y in fixed1:
    fixed3.append(re.sub(r"pic.\S+", "", y))
nikdf['Nikon Tweets']=fixed3

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer
cvec = TfidfVectorizer(ngram_range=(1,1),max_features=150,stop_words='english')
cvec.fit(nikdf['Nikon Tweets'])
nikonwords  = pd.DataFrame(cvec.transform(nikdf['Nikon Tweets']).todense(),
             columns=cvec.get_feature_names())

nikonwords.transpose().sort_values(0, ascending=False).transpose().head()

,booth,new,nikon,11,nikonlove,p1000,patience,photo,photograph,photographer,...,exciting,focus,happy,fun,game,gear,glad,gorgeous,great,year
0,0.738189,0.52488,0.423767,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.541229,0.00000,0.621399,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.540591,0.00000,0.310334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.742173,0.00000,0.426054,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
nikonwords.transpose().sort_values(0, ascending=False).transpose().columns[0:50]

Index(['booth', 'new', 'nikon', '11', 'nikonlove', 'p1000', 'patience',
       'photo', 'photograph', 'photographer', 'photographers', 'photography',
       'photos', 'portrait', 'portraits', 'possible', 'provide', 'questions',
       'release', 'nikonnofilter', 'nikon100', 'nikonambassador', 'make',
       'look', 'looking', 'looks', 'love', 'lovely', 'low', 'michael',
       'resolved', 'mirrorless', 'moment', 'mount', 'nice', 'night', 'nikkor',
       'resolve', 'series', 'live', 'share', 'try', 'update', 'use', 'using',
       'version', 'video', 'view', 'vr', 'wait'],
      dtype='object')

### Nikon Customers

In [25]:
custnik.replace('', np.nan, inplace=True)
custnik.dropna(inplace=True)

In [26]:
fixed=[]
fixed2=[]
for x in custnik['Nikon Tweets']:
    fixed.append(re.sub(r"http\S+", "", x))
for y in fixed:
    fixed2.append(re.sub(r"pic.\S+", "", y))
custnik['Nikon Tweets']=fixed2

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer
cvec = TfidfVectorizer(ngram_range=(1,1),max_features=150,stop_words='english')
cvec.fit(custnik['Nikon Tweets'])
nikoncustwords  = pd.DataFrame(cvec.transform(custnik['Nikon Tweets']).todense(),
             columns=cvec.get_feature_names())

nikoncustwords.transpose().sort_values(0, ascending=False).transpose().head()

,photography,nikonusa,18,nyc,park,people,photo,photographer,photooftheday,photoplusexpo,...,hope,images,let,iso,just,know,landscape,lens,lenses,z7
0,0.899904,0.436088,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
nikoncustwords.transpose().sort_values(0, ascending=False).transpose().columns[0:50]

Index(['photography', 'nikonusa', '18', 'nyc', 'park', 'people', 'photo',
       'photographer', 'photooftheday', 'photoplusexpo', 'photos', 'portrait',
       'puremichigan', 'really', 'right', 'sharing', 'shoot', 'nikonz7',
       'nikonproeurope', 'shot', 'nikonphotography', 'need', 'new', 'news',
       'nice', 'night', 'nikkor', 'nikon', 'nikonambassador', 'nikoncanada',
       'nikoneurope', 'nikonindia', 'nikonlove', 'nikonnews', 'nikonnofilter',
       'nikonownermag', 'shooting', 'shots', '2018', 'using', 'video',
       'visitca', 'visitoceanside', 'visitsandiego', 'wait', 'want', 'way',
       'weather', 'week', 'work'],
      dtype='object')

## HP

### HP Company

In [29]:
hpdf.replace('', np.nan, inplace=True)
hpdf.dropna(inplace=True)

In [30]:
fixed=[]
fixed2=[]
for x in hpdf['HP Tweets']:
    fixed.append(re.sub(r"http\S+", "", x))
for y in fixed:
    fixed2.append(re.sub(r"pic.\S+", "", y))
hpdf['HP Tweets']=fixed2

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer
cvec = TfidfVectorizer(ngram_range=(1,1),max_features=150,stop_words='english')
cvec.fit(hpdf['HP Tweets'])
hpwords  = pd.DataFrame(cvec.transform(hpdf['HP Tweets']).todense(),
             columns=cvec.get_feature_names())

hpwords.transpose().sort_values(0, ascending=False).transpose().head()

,tomorrow,plastic,million,ocean,pounds,enter,issue,day,today,hp,...,hi,hpcoachella,just,immersive,ink,instant,intel,internationalwomensday,introducing,year
0,0.349568,0.349568,0.349568,0.349568,0.349568,0.317602,0.317602,0.294921,0.294921,0.115385,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.160283,...,0.0,0.0,0.0,0.0,0.0,0.333768,0.0,0.0,0.0,0.0
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.134015,...,0.0,0.0,0.0,0.0,0.0,0.279068,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.205286,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.149640,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0

In [32]:
hpwords.transpose().sort_values(0, ascending=False).transpose().columns[0:50]

Index(['tomorrow', 'plastic', 'million', 'ocean', 'pounds', 'enter', 'issue',
       'day', 'today', 'hp', 'peek', 'panoramahp', 'pc', 'paving', 'patrick',
       'perfect', 'personalize', 'partner', 'paro', 'paradise', 'pantone',
       'photo', '000', 'paint', 'panorama', 'pioneer', 'model', 'moment',
       'moments', 'music', 'near', 'new', 'newly', 'nigoldeneye', 'ninagarcia',
       'nonprofit', 'nutmeg', 'odesza', 'open', 'opinion', 'original',
       'photos', 'play', 'place', 'toppers', 'sprocket', 'tech', 'technology',
       'thepcreinvented', 'thinner'],
      dtype='object')

### HP Customers

In [33]:
hpcustdf.replace('', np.nan, inplace=True)
hpcustdf.dropna(inplace=True)

In [34]:
fixed1=[]
fixed3=[]
for x in hpcustdf['HP Tweets']:
    fixed1.append(re.sub(r"http\S+", "", x))
for y in fixed1:
    fixed3.append(re.sub(r"pic.\S+", "", y))
hpcustdf['HP Tweets']=fixed3

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer
cvec = TfidfVectorizer(ngram_range=(1,1),max_features=150,stop_words='english')
cvec.fit(hpcustdf['HP Tweets'])
hpcustwords  = pd.DataFrame(cvec.transform(hpcustdf['HP Tweets']).todense(),
             columns=cvec.get_feature_names())

hpcustwords.transpose().sort_values(0, ascending=False).transpose().head()

,10,windows,today,help,hpsupport,laptop,hp,just,perfect,new,...,enter,envy,fortnite,exclusively,feeling,fellow,film,folio,follow,yup
0,0.456627,0.431609,0.408263,0.405167,0.377179,0.324414,0.163884,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125484,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
hpcustwords.transpose().sort_values(0, ascending=False).transpose().columns[0:50]

Index(['10', 'windows', 'today', 'help', 'hpsupport', 'laptop', 'hp', 'just',
       'perfect', 'new', 'omen', 'opportunities', 'partnered', 'pc', 'people',
       'powered', 'microsoft', 'powering', 'print', 'printer', 'printers',
       'printing', 'need', 'make', 'justice', 'machines', 'inspiring', 'pro',
       'love', 'line', 'like', 'lgbtq', 'lebanon', 'learn', 'laptops', 'la',
       'know', 'intel', 'lucky', 'products', 'product', 'que', 'use', 'using',
       've', 'video', 'want', 'watch', 'win', 'women'],
      dtype='object')

## Samsung Company

In [37]:
samdf.replace('', np.nan, inplace=True)
samdf.dropna(inplace=True)

In [38]:
samdf.columns

Index(['Samsung  Retweets', 'Samsung  Tweets', 'Samsung Favorites',
       'Samsung Time Stamp'],
      dtype='object')

In [39]:
fixed1=[]
fixed3=[]
for x in samdf[ 'Samsung  Tweets']:
    fixed1.append(re.sub(r"http\S+", "", x))
for y in fixed1:
    fixed3.append(re.sub(r"pic.\S+", "", y))
samdf['Samsung Tweets']=fixed3

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer
cvec = TfidfVectorizer(ngram_range=(1,1),max_features=150,stop_words='english')
cvec.fit(samdf['Samsung Tweets'])
samwords = pd.DataFrame(cvec.transform(samdf['Samsung Tweets']).todense(),
             columns=cvec.get_feature_names())

samwords.transpose().sort_values(0, ascending=False).transpose().head()

,10,samsungmobileus,samsungservice,samsungsolve,samsungsupport,samsungsxsw,samsungtips,samsungtweets,say,screen,...,going,got,hi,great,happy,having,hear,help,hey,yes
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.460342,0.0,0.477361,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0

In [41]:
samwords.transpose().sort_values(0, ascending=False).transpose().columns[0:50]

Index(['10', 'samsungmobileus', 'samsungservice', 'samsungsolve',
       'samsungsupport', 'samsungsxsw', 'samsungtips', 'samsungtweets', 'say',
       'screen', 'send', 'series', 'share', 'sharing', 'smart', 'smarttv',
       'soon', 'samsungnation', 'samsungces', 'sounds', 'samsung', 'new',
       'nice', 'phone', 'photo', 'photos', 'player', 'product', 'products',
       'questions', 'ray', 'reach', 'read', 'ready', 'right', 'rt', 'sorry',
       'stay', '3d', 'tvs', 'twitter', 'use', 'using', 've', 'video', 'wait',
       'want', 'watch', 'way', 'welcome'],
      dtype='object')

### Samsung Customers

In [42]:
samcustdf.replace('', np.nan, inplace=True)
samcustdf.dropna(inplace=True)

In [43]:
fixed=[]
fixed2=[]
for x in samcustdf['Samsung Tweets']:
    fixed.append(re.sub(r"http\S+", "", x))
for y in fixed:
    fixed2.append(re.sub(r"pic.\S+", "", y))
samcustdf['Samsung Tweets']=fixed2

In [44]:
from sklearn.feature_extraction.text import TfidfVectorizer
cvec = TfidfVectorizer(ngram_range=(1,1),max_features=150,stop_words='english')
cvec.fit(samcustdf['Samsung Tweets'])
samcustwords = pd.DataFrame(cvec.transform(samcustdf['Samsung Tweets']).todense(),
             columns=cvec.get_feature_names())

samcustwords.transpose().sort_values(0, ascending=False).transpose().head()

,warranty,does,samsungsupport,samsung,samsungus,said,samsungmobile,samsungmobileus,samsungtv,10,...,great,having,hope,hd,hear,help,hey,hi,home,years
0,0.573515,0.566681,0.474928,0.297711,0.189114,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
1,0.395588,0.000000,0.000000,0.000000,0.130444,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2,0.523006,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.230242,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.666973
4,0.439912,0.434671,0.364292,0.228358,0.145059,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000

In [45]:
samcustwords.transpose().sort_values(0, ascending=False).transpose().columns[0:50]

Index(['warranty', 'does', 'samsungsupport', 'samsung', 'samsungus', 'said',
       'samsungmobile', 'samsungmobileus', 'samsungtv', '10', 's8', 'say',
       'screen', 'send', 'series', 'service', 'shell', 'shocker', 's9',
       'right', 'sorry', 'repair', 'nice', 'note', 'old', 'order', 'people',
       'phone', 'phones', 'plus', 'pro', 'problem', 'product', 'products',
       'qled', 'really', 'refrigerator', 'smart', 'stop', 'ssd', 'need',
       'wait', 'want', 'washer', 'watch', 'watching', 'way', 'win', 'won',
       'work'],
      dtype='object')

In [57]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()
sentiment_summary = dict()
for x in canwords:
    sentences = nltk.tokenize.sent_tokenize(x)
    for y in sentences:
        sentiment_score = sid.polarity_scores(y)
        if sentiment_score["compound"] == 0.0:
            sentiment_score["neu"] += 1
        elif sentiment_score["compound"] > 0.0:
            sentiment_score["pos"] += 1
        else:
            sentiment_score["neg"] += 1

['000']
['15']
['20']
['2018']
['23']
['acadia']
['alive']
['amazing']
['arborday']
['area']
['award']
['awards']
['away']
['balloonfiesta']
['batter']
['best']
['bills']
['canon']
['canonphotochallenge']
['canonusahqshowroom']
['celebrate']
['celebrating']
['certified']
['change']
['check']
['child']
['children']
['classroom']
['day']
['december']
['did']
['dyk']
['employees']
['energy']
['energystar']
['energystarday']
['energystarpoy']
['environmental']
['excellence']
['excited']
['exhibit']
['explorer']
['families']
['farmingdalesc']
['featuring']
['friend']
['friends']
['friendsfriday']
['friendsofacadia']
['fun']
['fundraiser']
['funfactfriday']
['game']
['gear']
['geographic']
['great']
['guess']
['happy']
['headquarters']
['help']
['helping']
['helps']
['high']
['hope']
['hq']
['information']
['japan']
['join']
['know']
['latest']
['learn']
['learned']
['like']
['listen']
['live']
['ll']
['make']
['makingstridesli']
['missing']
['missingkids']
['natgeoeducation']
['national']
['ncmec']
['night']
['online']
['parent']
['park']
['partner']
['photo']
['photography']
['photos']
['products']
['program']
['promo']
['proud']
['proudly']
['proudsponsor']
['provided']
['purchasing']
['quality']
['received']
['safe']
['safety']
['save']
['share']
['shot']
['sky']
['small']
['sound']
['specialolympics']
['species']
['sponsor']
['sponsorship']
['stay']
['stonybrooku']
['students']
['summer']
['support']
['supporter']
['supporting']
['sustained']
['team']
['teamcanon']
['technology']
['thanks']
['tip']
['tips']
['today']
['usa']
['use']
['utility']
['ve']
['video']
['visited']
['voted']
['walk']
['watch']
['water']
['week']
['weekend']
['wildlife']
['winter']
['yankee']
['yankees']
['yankeestadium']
['year']
['years']
['yellowstonenps']
['ynpforever']
['youth']